[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "codebookr"]
	path = codebookr
	url = https://github.com/brad-cannell/codebookr
[submodule "freqtables"]
	path = freqtables
	url = https://github.com/brad-cannell/freqtables
